@charset "utf-8";
@import url('main.css');

/* CSS Document */

#contentText {
	background-image: none;
}

#caption {
	left: 20px;
	padding-top: 14px;
}

#photo>img {
	position: relative;
	left: -15px;
	top: 10px;
}

.thumbnail {
	background-image: url('../images/gallery/thumbnail-strip.jpg');
	float: left;
	background-repeat: no-repeat;
	cursor: pointer;
	
	border: 0px;
}

#patinaLeft {
	width: 1px;
	background-image: none;
}
/* Localized */