/*@charset "utf-8";
/* CSS Document *!/*/


* {
	font-family: Arial, Helvetica, sans-serif;
}


body {
	marigin: 0px; /* Keep this set to 0! */
	
	background-color: #ffffff;
	font-size: 18px;	
}


#logoText {
	display: none;
}


#centeredElements {
	position: absolute;
	top:  0;
	/*outline: 1px red solid;*/
}


#logo {
	width: 410px;
	/*float: left;*/
}

li.gallery {
	display: none;
}

#navArea {
	/*width: 523px;
	float: left;
	
	margin-top: 15px;
	margin-left: 15px;*/
}

#navArea>ul {
	/*border-bottom: 2px solid #dbdfde;

	margin: 0px;
	padding: 0px;

	list-style: none;*/
}

#navArea>ul>li {
	/*display: inline;
	
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	
	margin-left: 20px;*/
	
}

/*#navArea>ul>li:first-child {
	margin-left: 0px;
}*/

/*#navArea>ul>li.active {
	color: #cb1919;
}*/

#navArea>ul>li>a, #contactArea>div a, #contactArea>div a:visited {
	color: #899495;
	text-decoration: none;
}

#contactArea>div a:hover {
	text-decoration: underline;
}

#navArea>ul>li>a:visited {
	color: #899495;
}

#contactArea>div {
	padding-top: 2px;
	margin-left: 15px;
	color: #899495;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
}

/*#contactArea>.inline {
	display: inline;
}*/

/*#contactArea>.rightBorder {
	border-right: 1px solid #dbdfde;
}*/

/*#contactArea>.padLeft {
	padding-left: 8px;
}

#contactArea>.padRight {
	padding-right: 8px;
}*/

#masthead {
	position: relative;
	top: 26px;
	left: 0px;
}

/*#patinaTop {
	position: relative;
	top: 65px;
	left: 19px;
	
	background-image: url('../images/patina-top.png');
	
	width: 914px;
	height: 41px;
}

#patinaRight {
	position: relative;
	top: 5px;
	left: 933px;

	background-image: url('../images/patina-right.png');
	
	width: 34px;
	height: 436px;
}

#patinaBottom {
	position: relative;
	top: -22px;
	left: 19px;

	background-image: url('../images/patina-bottom.png');
	
	width: 914px;
	height: 29px;
}

#patinaLeft {
	position: relative;
	top: -458px;
	left: 0px;

	background-image: url('../images/patina-left.png');
	
	width: 19px;
	height: 436px;
}

.patina {
	background-repeat: no-repeat;

/*	border-width: 1px 0px;
	border-style: solid;
	border-color: #33cc33;*!/

}*/

#photo {
	margin-top: 3em;
	margin-left: 15px;
}

#photo img {
	position: relative;
	/*left: 10px;*/
	width: 315px !important;
	height: 134px;
	}


#content {
	/*opacity:0.45;
	filter:alpha(opacity=45); /* For IE8 and earlier 

	background-color: #899495;*/
	
	/*background-image: url('../images/contentBackground.png');*/
	
	width: 328px;
	/*
	margin-left: 77px;
	
	position: absolute;
	left: 50%;*/
	
	/*padding-left: 34px;
	padding-right: 27px;*/
	
	position: absolute;
	top: 535px;
	
	color: #899495;
	padding: 0 !important;
	height: 100% !important;
	margin-left: 15px;
	margin-top: 7em;
	}
	

#content h2 {
	font-size: 18px;
	margin: 0;
	font-weight: normal;
	font-color: red;
	display: block;
	text-decoration: underline;
	margin-top: .4em
	
}

#content h2+br {
	display: none;	
}

#content br {
	margin: 0;
	padding: 0;
	display: block;
}


#caption {
	position: relative;
	top: -963px;
	left: 20px;
	
	color:#FFFFFF;
	
	font-size: 10px;
	font-family: "Courier New", Courier, monospace;
	font-variant: small-caps;
	
	width: 535px;
	
}

#topMask {
	/*position: fixed;
	top: 0px;
	left: 0px;
	
	height: 77px;
	
	width: 100%;
	
	background-color: #ffffff;*/
	
	display: none;
	
}

#bottomMask {
/*	position: fixed;
	top: 482px;
	left: 0px;
	
	height: 85px;
	
	width: 100%;
	
	background-color: #ffffff;*/
	display: none;
	
}


